<section class="login-main-wrapper">
    <div class="main-container">
        <div class="login-process">
            <div class="login-main-container">
                <div class="thankyou-wrapper">
                    <h2><img src="../../../../../assets/customer/images/banner/thankyou.png" alt="thanks" /></h2>
                    <div class="_box pt-3 pb-5">
                        <h5>{{ 'successOrderThank'|translate }}</h5>
                    </div>
                    <div class="_footer ">
                        <a class="btn " [routerLink]="['/']"> {{ 'home'|translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
