<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ 'list'|translate }} {{ 'coup'|translate }} <a class="btn btn-inverse-secondary btn-fw float-right" [routerLink]="['/admin/insertCoupon']">{{ 'add'|translate }}</a></h4>
                <div class="row">
                    <div class="col-lg-6 ">
                        <form class="form-sample pb-3" [formGroup]="searchForm" role="form" (ngSubmit)="searchCoupon()">
                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="search" placeholder="{{ 'search'|translate }}">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1" #t (change)="setPageSize(t.value)">
                              <option value="4">{{ 'show' | translate}} 4 {{ 'results'|translate }}</option>
                              <option value="6">{{ 'show' | translate}} 6 {{ 'results'|translate }}</option>
                              <option value="10">{{ 'show' | translate}} 10 {{ 'results'|translate }}</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    #
                                    <i (click)="sortBy('id','ASC')" class="fa fa-long-arrow-up pointer " aria-hidden="true"></i>
                                    <i (click)="sortBy('id','DESC')" class="fa fa-long-arrow-down pointer " aria-hidden="true"></i>
                                </th>
                                <th>
                                    {{ 'nam'|translate }} {{ 'coup'|translate }}
                                    <i (click)="sortBy('name','ASC')" class="fa fa-long-arrow-up pointer " aria-hidden="true"></i>
                                    <i (click)="sortBy('name','DESC')" class="fa fa-long-arrow-down pointer " aria-hidden="true"></i>
                                </th>
                                <th>
                                    {{ 'disValue'|translate }}
                                </th>
                                <th>
                                    {{ 'conditionCoupon'|translate }}
                                    <i (click)="sortBy('condition','ASC')" class="fa fa-long-arrow-up pointer " aria-hidden="true"></i>
                                    <i (click)="sortBy('condition','DESC')" class="fa fa-long-arrow-down pointer " aria-hidden="true"></i>
                                </th>
                                <th>
                                    {{ 'startdate'|translate }}
                                    <i (click)="sortBy('startdate','ASC')" class="fa fa-long-arrow-up pointer " aria-hidden="true"></i>
                                    <i (click)="sortBy('startdate','DESC')" class="fa fa-long-arrow-down pointer " aria-hidden="true"></i>
                                </th>
                                <th>
                                    {{ 'enddate'|translate }}
                                    <i (click)="sortBy('enddate','ASC')" class="fa fa-long-arrow-up pointer " aria-hidden="true"></i>
                                    <i (click)="sortBy('enddate','DESC')" class="fa fa-long-arrow-down pointer " aria-hidden="true"></i>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listCoupon ">
                                <td>
                                    {{ item.id }}
                                </td>
                                <td>{{ item.name }}</td>
                                <td *ngIf="item.type">
                                    {{ item.discountvalue }} %
                                </td>
                                <td *ngIf="!item.type">
                                    {{ item.discountvalue |currency:'VND'}}
                                </td>
                                <td>{{ item.condition |currency:'VND' }} </td>
                                <td>
                                    {{ item.startdate|date: 'dd/MM/yyyy' }}
                                </td>
                                <td>{{ item.enddate |date: 'dd/MM/yyyy' }}</td>
                                <td>
                                    <a (click)="deleteCoupon(item.id)" class="btn btn-inverse-primary  btn-icon">
                                        <i class="typcn typcn-trash"></i>
                                    </a>
                                    <a routerLink="/admin/updateCoupon/{{ item.id }}" class="btn btn-inverse-success   btn-icon">
                                        <i class="typcn typcn-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            <tfoot>
                                <div class="demo">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination text-center">
                                            <li class="page-item" *ngFor="let p of pages;let i=index"><a class="page-link {{ i===pageNumber?'active':'' }}" (click)="setPageNumber(i,$event)">{{ i+1 }}</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
